  .container {
        max-width: 1200px;
        padding: 20px 20px 0 20px;
        margin: 0;
    }

    body {
        background-color: rgb(173, 122, 221);
    }
    * {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 0;
        margin: 0;
    }
    h1, h2 {
        color: aliceblue;
    }

    span {
        color: blanchedalmond;
        text-align: center;
    }

    .header {
        margin-bottom: 15px;
    }

    h1 {
        padding-bottom: 25px;
        margin: 0;
    }

    h2 {
        padding-bottom: 15px;
    }

    .border-line {
        background: black;
        width: 100%;
        height: 2px;
    }

    .content {
        margin-top: 25px;

    }

    .content_classes, .content_movies, .content_moods, .content_facts {
        padding-bottom: 20px;
    }

    .content_moods-imgs {
        display: flex;
        text-align: end;
        max-width: 100%;
    }

    img {
        width: 300px;
        height: 300px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .circled-list {
        margin-left: 30px;
        list-style-type: disc;
    }
    
    .decimal-list {
        margin-left: 30px;
        list-style-type: decimal;
    }